venv/
__pycache__/
*.pyc
*.py[cod]
*$.py.class
.env

# test and config
.pytest_cache/
.coverage
htmlcov/

# local python virtual environment
venv/
.venv/
ENV/

# OS specific hidden files
.DS_Store
Thumbs.db